version: '3.1'

services:

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: perpustakaan   # optional, buat langsung bikin database todo
    ports:
      - "3307:3306"            # expose MariaDB ke host

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"